#main-title {
  color: white;
  text-align: center;
  padding-bottom: 2%;
  width: 100%;
  vertical-align: middle;
  padding-top: 24px;
  color: #CEF0D4;
  font-family: 'Rouge Script', cursive;
  font-size: 60px;
  font-weight: normal;

  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

#top {
  white-space: normal;
  background-color: #392fc4;
  vertical-align: middle;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
}

#navigation_bar {
  color: white;
  background-color: black;
  padding-top: 3%;
}

#navigation_bar h2 {
  color: white;
  text-align: center;
}

nav {
  overflow: hidden;
  background-color: #2a3b56;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  white-space: nowrap;
  padding: 0.2em 2em;
  color: white;
  width: 100%;
  padding: 4px;
}

#navigation_bar ul li {
  display: inline;
}

#navigation_bar ul li a {
  padding: 0.2em 2em;
  color: white;
  border-left: 0.8px solid white;
  text-align: center;
}

#navigation_bar ul li a:hover {
  color: #82a8e5;
}

@media (max-width: 600px) {
  #navigation_bar ul li {
    display: block;
    padding: 4px;
    margin: 5px 0;
  }
  #navigation_bar ul li a {
    border-left: none;
    border-bottom: 0.8px solid white;
    color: white;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.credit {
  margin-right: 2%;
  text-align: right;
  font-size: 12px
}

.table tr a {
  color: darkblue;
}

div {
  font-size: 16px;
}

ul {
  font-size: 16px;
}

ol {
  font-size: 16px;
}

p {
  font-size: 16px;
}

.table {
  font-size: 16px;
}
